<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Soppeng Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../public/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../public/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../public/assets/images/favicon.png" />


</head>

<body>

    <!-- The Modal detail-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalpembelian" id="modalbutton">
        Tambah Pembelian
    </button>
    <!-- Modal content -->

    <!-- Modal -->
    <div class="modal fade" id="modalpembelian" tabindex="-1" role="dialog" aria-labelledby="modalpembelian"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pembelian</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- modal body -->
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="generateinvoice">Generate Invoice</button>
                    <!-- form Pembelian -->
                    <form class="form-pembelian" id="form-pembelian">
                        <div class="form-group">
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice"
                                id="no_invoice" required>
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Supplier</label>
                            <select class="form-control" id="id_supplier" name="id_supplier">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_gudang">ID Gudang</label>
                            <select class="form-control" id="id_gudang" name="id_gudang">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Operator</label>
                            <select class="form-control" id="id_user" name="id_user">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Detail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga"
                                    name="total_harga" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button hidden type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="close">Close</button>
                            <button type="button" class="btn btn-primary" id="savePembelian">Done</button>
                        </div>
                    </form>
                    <!-- form detail -->
                    <form class="form-detail" id="form-detail">
                        <div class="form-group">
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice1"
                                id="no_invoice1" required>
                        </div>
                        <div class="form-group">
                            <label for="barcode">Barcode</label>
                            <select class="form-control" id="barcode" name="barcode" onchange="getAmount()">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qty">qty</label>
                            <input type="text" class="form-control" name="qty" id="qty" onblur="getAmount()"
                                placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="harga_beli">Harga Beli</label>
                            <input type="text" class="form-control" name="harga_beli" id="harga_beli"
                                readonly='readonly'>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Beli</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga_detail"
                                    name="total_harga_detail" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="reset"
                            id="reset-form-detail">Clear</button>
                        <button type="button" class="btn btn-primary" id="saveDetails">Save Details</button>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No.</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody id="beli_detail">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- table -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Daftar Pembelian Barang</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> No.</th>
                            <th> No.Invoice Pembelian</th>
                            <th> Tanggal Pembelian </th>
                            <th> Total Harga Detail</th>
                            <th> ID Supplier</th>
                            <th> ID Gudang</th>
                            <th> ID Operator</th>
                        </tr>
                    </thead>
                    <tbody id="pembelian">
                    </tbody>
                </table>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No Detail</th>
                                <th> No.Invoice Pembelian</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                            </tr>
                        </thead>
                        <tbody id="detail_pembelian">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../public/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../public/assets/vendors/select2/select2.min.js"></script>
<script src="../public/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../public/assets/js/off-canvas.js"></script>
<script src="../public/assets/js/hoverable-collapse.js"></script>
<script src="../public/assets/js/misc.js"></script>
<script src="../public/assets/js/settings.js"></script>
<script src="../public/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../public/assets/js/file-upload.js"></script>
<script src="../public/assets/js/typeahead.js"></script>
<script src="../public/assets/js/select2.js"></script>
<!-- End custom js for this page -->


<script>

    var params = {}

    const readData = (invo) => {
        if (invo) {
            $.ajax({
                method: "GET",
                url: `http://localhost:3001/pembelian/details/${invo}`,
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (res) {
                let totalDetail = res
                let harga = 0

                totalDetail.forEach((item) => {
                    harga += parseInt(item.total_harga)
                })
                $('#total_harga').val(harga);

                let dwitel = res
                let dwi = ''
                dwitel.forEach((item, index) => {
                    dwi += `
        <tr>
            <td>${index + 1}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
          <td>
            <button type="button" class="btn btn-danger btn-icon-delete" detail_data="${item.id_detail}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });
                $('#beli_detail').html(dwi)

            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read detail pembelian modals')
            })


        } else {
            $.ajax({
                method: "GET",
                url: "http://localhost:3001/pembelian",
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (pembelian) {
                let data1 = pembelian[0]

                let html = ''
                data1.forEach((item, index) => {
                    html += `
        <tr>
            <td>${index + 1}</td>
            <td><a href="#" class="link" id="invoice" datapage="${item.no_invoice}">${item.no_invoice}</a></td>
            <td>${item.tanggal}</td>
            <td>${item.total_harga}</td>
            <td>${item.id_supplier}</td>
            <td>${item.id_gudang}</td>
            <td>${item.id_operator}</td>
          <td>
            <button type="button" class="btn btn-success btn-icon-text" id_data="${item.no_invoice}"><i class="mdi mdi-file-check btn-icon-append"></i></button>
            <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.no_invoice}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });

                let data2 = pembelian[1]
                let detail = ''
                data2.forEach((item, index) => {
                    detail += `
        <tr>
            <td>${item.id_detail}</td>
            <td>${item.no_invoice}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
            <td>
            <button type="button" class="btn btn-danger btn-icon-delete" id_detal="${item.id_detail}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });

                let data3 = pembelian[2]
                let gudang = '<option disabled selected>Select Gudang</option>'
                data3.forEach((item, index) => {
                    gudang += `
        <option value="${item.id_gudang}">
         ${item.id_gudang} - ${item.nama_gudang}
        </option>
        `
                });

                let data4 = pembelian[3]
                let supplier = '<option disabled selected>Select Supplier</option>'
                data4.forEach((item, index) => {
                    supplier += `
        <option value="${item.id_supplier}">
         ${item.id_supplier} - ${item.nama}
        </option>
        `
                });

                let data5 = pembelian[4]

                let operator = '<option disabled selected>Select User</option>'
                data5.forEach((item, index) => {
                    operator += `
        <option value="${item.user_id}">
         ${item.user_id} - ${item.name}
        </option>
        `
                });

                let data6 = pembelian[5]
                let varian = '<option disabled selected>Select Barcode</option>'
                data6.forEach((item, index) => {
                    varian += `
        <option value="${item.barcode}">
         ${item.barcode} - ${item.varian_name}
        </option>
        `
                });
                $('#barcode').html(varian)
                $('#id_user').html(operator)
                $('#id_supplier').html(supplier)
                $('#id_gudang').html(gudang)
                $('#detail_pembelian').html(detail)
                $('#pembelian').html(html)


            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read data')
            })
        }

    }

    const varianValue = (barcode) => {

        $.ajax({
            method: "GET",
            url: `http://localhost:3001/pembelian/varian/${barcode}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: params
        }).done(function (pembelian) {
            $("#harga_beli").val(pembelian[0].buy_price)

        }).fail(function (err) {
            console.log("error", err)
            alert('gagal jquery read data varian harga')
        })
    }

    const saveData = (no_invoice, barcode, qty, harga_beli, total_harga_detail) => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3001/pembelian/detail`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { no_invoice, barcode, qty, harga_beli, total_harga_detail }
        }).done(function (response) {

            let invo = response.rows[0].no_invoice
            let barcode = response.rows[0].barcode

            alert(`detail ${barcode} added`)
            $("#form-detail").trigger('reset')
            readData(invo)
        }).fail(function (err) {
            alert('gagal pake jquery save details')
        })
    }
    const saveBeli = (no_invoice, id_supplier, id_gudang, id_operator, total_harga) => {
        $.ajax({
            method: "PUT",
            url: `http://localhost:3001/pembelian/pbelian/${no_invoice}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { id_supplier, id_gudang, id_operator, total_harga }
        }).done(function (response) {
            alert('pembelian telah tertambah')
            $("#form-pembelian").trigger("reset");
            $("#form-detail").trigger("reset");
            $("#close").trigger("click")
            readData()
        }).fail(function (err) {
            console.log(err)
            alert('gagal pake jquery PUT', err)
        })
    }


    const saveInvoice = () => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3001/pembelian/createinvoice`,
            dataType: "json",
            headers: {
                json: true
            },
            data: {}
        }).done(function (response) {
            $("#no_invoice").val(response[0].no_invoice)
            $('#no_invoice1').val(response[0].no_invoice)
            alert('Invoice Created')
        }).fail(function (err) {
            alert('gagal pake jquery save')
        })
    }

    const deleteData = (id) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3001/pembelian/${id}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            console.log('salah posisi delte')
            readData()
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })

    }

    // const deleteDetal = (id) => {
    //     $.ajax({
    //         method: "DELETE",
    //         url: `http://localhost:3001/pembelian/ditel/${id}`,
    //         dataType: "json",
    //         headers: {
    //             json: true
    //         }
    //     }).done(function (response) {

    //     }).fail(function (err) {
    //         alert('gagal pake jquery delete')
    //     })
    // }

    const deleteDetails = (id_detail) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3001/pembelian/ditel/${id_detail}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            const invo = $('#no_invoice').val()
            if (invo) {
                alert('details deleted')
                readData(invo)
            } else {
                alert('details deleted')
                readData()
            }

        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }

    function getAmount() {
        var qty = $('#qty').val();
        var harga = $('#harga_beli').val();
        $('#total_harga_detail').val(qty * harga);

    }

    $(document).ready(function () {
        readData()
        // readSelect()

        $('#saveDetails').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const barcode = $('#barcode').val()
            const qty = $('#qty').val()
            const harga_beli = $('#harga_beli').val()
            const total_harga_detail = $('#total_harga_detail').val()
            saveData(no_invoice, barcode, qty, harga_beli, total_harga_detail)

        })

        $('#savePembelian').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const id_supplier = $('#id_supplier').val()
            const id_gudang = $('#id_gudang').val()
            const id_operator = $('#id_user').val()
            const total_harga = $('#total_harga').val()
            saveBeli(no_invoice, id_supplier, id_gudang, id_operator, total_harga)
        })

        $('table tbody').on('click', '.link', function (event) {
            event.preventDefault()
            params = { ...params, noInvoice: $(this).attr('datapage') }
            readData()
        })

        $('table tbody').on('click', '.btn-icon-text', function (event) {
            event.preventDefault()
            alert('Anda mencoba melakukan manipulasi data, silahkan menghadap ke boss anda!')
            readData()
        })

        $('#pembelian').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const id = $(this).attr('id_data')
            deleteData(id)
        })

        $('#detail_pembelian').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const id = $(this).attr('id_detal')
            deleteDetails(id)
        })

        $('#beli_detail').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const detail_id = $(this).attr('detail_data')
            deleteDetails(detail_id)
        })

        $('#reset-form-detail').click(function (event) {
            event.preventDefault()
            $("#form-detail").trigger("reset");
        })

        $('#generateinvoice').click(function (event) {
            event.preventDefault()
            saveInvoice()
        })

        $('#barcode').on('blur', function (event) {
            event.preventDefault()
            varianValue(this.value);
        });



    })
</script>


</html>