<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Soppeng Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../public/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../public/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../public/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../public/assets/images/favicon.png" />


</head>

<body>

    <div class="container">
        <div class="card-header">
            <form id="form-search">
                <div class="card">
                    <div class="card-header">
                        <h2>Form Pencarian</h2>
                    </div>

                    <div class="card-body">

                        <div class="row mb-3">
                            <label for="invoice" class="col-sm-2 col-form-label">Invoice</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-black">INV-</span>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="searchinvoice" name="searchinvoice">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="searchdates1" class="col-sm-2 col-form-label">Date</label>
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="searchdates1" name="searchdates1">
                                </div>
                            </div>
                        </div>
                        <p>to</p>
                        <div class="row mb-3">
                            <div class="input-group">
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="searchdates2" name="searchdates2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" id="reset-form-search" class="btn btn-warning">reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- The Modal detail-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalpenjualan" id="modalbutton">
        Kasir
    </button>
    <!-- Modal content -->

    <!-- Modal -->
    <div class="modal fade" id="modalpenjualan" tabindex="-1" role="dialog" aria-labelledby="modalpenjualan"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Penjualan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- modal body -->
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="generateinvoice">Generate Invoice</button>
                    <!-- form penjualan -->
                    <form class="form-penjualan" id="form-penjualan">
                        <div class="form-group">
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control text-black" name="no_invoice"
                                id="no_invoice" required>
                        </div>
                        <div class="form-group">
                            <label for="tanggal">Tanggal</label>
                            <input type="datetime" readonly="readonly" class="form-control text-black" name="tanggal"
                                id="tanggal" required>

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-black">Rp</span>
                                </div>
                                <input type="text" class="form-control text-black" aria-label="amount" id="total_harga"
                                    name="total_harga" value="0" onblur="getKembalian()" readonly="readonly">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="total_bayar">Total Bayar</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-black">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_bayar"
                                    name="total_bayar" placeholder="0" onblur="getKembalian()">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="kembalian">Kembalian</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-black">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="kembalian"
                                    name="kembalian" value="0" readonly="readonly">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button hidden type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="close">Close</button>
                            <button type="button" class="btn btn-primary" id="savepenjualan">Done</button>
                        </div>
                    </form>
                    <!-- form detail -->
                    <form class="form-detail" id="form-detail">
                        <div class="form-group" hidden>
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice1"
                                id="no_invoice1" required>
                        </div>
                        <div class="form-group">
                            <label for="barcode">Barcode</label>
                            <select class="form-control" id="barcode" name="barcode" onchange="getAmount()">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qty">qty</label>
                            <input type="text" class="form-control" name="qty" id="qty" onblur="getAmount()"
                                placeholder="0">
                        </div>
                        <div class="form-group">
                            <label for="harga_jual">Harga Jual</label>
                            <input type="text" class="form-control" name="harga_jual" id="harga_jual"
                                readonly='readonly'>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-black">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga_detail"
                                    name="total_harga_detail" value="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="reset"
                            id="reset-form-detail">Clear</button>
                        <button type="button" class="btn btn-primary" id="saveDetails">Save Details</button>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No.</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Jual</th>
                                <th> Total Harga</th>
                                <th> Cancel</th>
                            </tr>
                        </thead>
                        <tbody id="jual_detail">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- table -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Daftar Penjualan Barang</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> No.</th>
                            <th> No.Invoice Penjualan</th>
                            <th> Tanggal penjualan </th>
                            <th> Total Harga Jualan</th>
                            <th> Total Bayar</th>
                            <th> Kembalian</th>
                        </tr>
                    </thead>
                    <tbody id="penjualan">
                    </tbody>
                </table>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No Detail</th>
                                <th> No.Invoice Penjualan</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Jual</th>
                                <th> Total Harga</th>
                            </tr>
                        </thead>
                        <tbody id="detail_penjualan">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../public/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../public/assets/vendors/select2/select2.min.js"></script>
<script src="../public/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../public/assets/js/off-canvas.js"></script>
<script src="../public/assets/js/hoverable-collapse.js"></script>
<script src="../public/assets/js/misc.js"></script>
<script src="../public/assets/js/settings.js"></script>
<script src="../public/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../public/assets/js/file-upload.js"></script>
<script src="../public/assets/js/typeahead.js"></script>
<script src="../public/assets/js/select2.js"></script>
<!-- End custom js for this page -->


<script>

    var params = {}

    const readData = (invo) => {
        if (invo) {
            $.ajax({
                method: "GET",
                url: `http://localhost:3001/penjualan/details/${invo}`,
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (res) {
                
                let totalDetail = res
                let harga = 0

                totalDetail.forEach((item) => {
                    harga += parseInt(item.total_harga)
                })
                $('#total_harga').val(harga);

                let dwitel = res
                let dwi = ''
                dwitel.forEach((item, index) => {
                    dwi += `
        <tr>
            <td>${index + 1}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_jual}</td>
            <td>${item.total_harga}</td>
          <td>
            <button type="button" class="btn btn-danger btn-icon-delete" detail_data="${item.id_detail}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });
                $('#jual_detail').html(dwi)

            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read detail penjualan modals')
            })


        } else {
            $.ajax({
                method: "GET",
                url: "http://localhost:3001/penjualan",
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (penjualan) {
                params = { ...params }
                let data1 = penjualan[0]

                let html = ''
                data1.forEach((item, index) => {
                    html += `
        <tr>
            <td>${index + 1}</td>
            <td><a href="#" class="link" id="invoice" datapage="${item.no_invoice}">${item.no_invoice}</a></td>
            <td>${item.tanggal}</td>
            <td>${item.total_harga}</td>
            <td>${item.total_bayar}</td>
            <td>${item.kembalian}</td>
          <td>
            <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.no_invoice}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });

                let data2 = penjualan[1]
                let detail = ''
                data2.forEach((item, index) => {
                    detail += `
        <tr>
            <td>${item.id_detail}</td>
            <td>${item.no_invoice}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_jual}</td>
            <td>${item.total_harga}</td>
            <td>
            <button type="button" class="btn btn-danger btn-icon-delete" id_detal="${item.id_detail}"><i class="mdi mdi-trash-can btn-icon-append"></i></button>
          </td>
        </tr>
        `
                });

                let data6 = penjualan[2]
                let varian = '<option disabled selected>Select Barcode</option>'
                data6.forEach((item, index) => {
                    varian += `
        <option value="${item.barcode}">
         ${item.barcode} - ${item.varian_name}
        </option>
        `
                });
                $('#barcode').html(varian)
                $('#detail_penjualan').html(detail)
                $('#penjualan').html(html)


            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read data')
            })
        }

    }

    const varianValue = (barcode) => {

        $.ajax({
            method: "GET",
            url: `http://localhost:3001/penjualan/varian/${barcode}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: params
        }).done(function (penjualan) {
            $("#harga_jual").val(penjualan[0].sell_price)

        }).fail(function (err) {
            console.log("error", err)
            alert('gagal jquery read data varian harga')
        })
    }

    const saveData = (no_invoice, barcode, qty, harga_jual, total_harga_detail) => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3001/penjualan/detail`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { no_invoice, barcode, qty, harga_jual, total_harga_detail }
        }).done(function (response) {

            let invo = response.rows[0].no_invoice
            let barcode = response.rows[0].barcode

            alert(`detail ${barcode} added`)
            $("#form-detail").trigger('reset')
            readData(invo)
        }).fail(function (err) {
            alert('gagal pake jquery save details')
        })
    }
    const saveJual = (no_invoice, total_harga, total_bayar, kembalian) => {
        $.ajax({
            method: "PUT",
            url: `http://localhost:3001/penjualan/pjualan/${no_invoice}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { no_invoice, total_harga, total_bayar, kembalian }
        }).done(function (response) {
            alert('penjualan telah tertambah')
            $("#form-penjualan").trigger("reset");
            $("#form-detail").trigger("reset");
            $("#close").trigger("click")
            readData()
        }).fail(function (err) {
            console.log(err)
            alert('gagal pake jquery PUT', err)
        })
    }


    const saveInvoice = () => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3001/penjualan/createinvoice`,
            dataType: "json",
            headers: {
                json: true
            },
            data: {}
        }).done(function (response) {
            $("#no_invoice").val(response[0].no_invoice)
            $("#tanggal").val(response[0].tanggal)
            $('#no_invoice1').val(response[0].no_invoice)
            alert('Invoice Created')
        }).fail(function (err) {
            alert('gagal pake jquery save')
        })
    }

    const deleteData = (id) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3001/penjualan/${id}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            
            readData()
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })

    }

    const deleteDetails = (id_detail) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3001/penjualan/ditel/${id_detail}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            const invo = $('#no_invoice').val()
            if (invo) {
                alert('details deleted')
                readData(invo)
            } else {
                alert('details deleted')
                readData()
            }

        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }

    function getAmount() {
        var qty = $('#qty').val();
        var harga = $('#harga_jual').val();
        $('#total_harga_detail').val(qty * harga);
    }

    function getKembalian() {
        var harga = $('#total_harga').val();
        var bayar = $('#total_bayar').val();
        $('#kembalian').val(bayar - harga);
    }

    $(document).ready(function () {
        readData()

        $('#form-search').submit(function (event) {
            event.preventDefault();
            const searchinvoice = $('#searchinvoice').val()
            const searchdates1 = $('#searchdates1').val()
            const searchdates2 = $('#searchdates2').val()
            console.log(searchinvoice, searchdates1, searchdates2)
            params = { ...params, searchinvoice, searchdates1, searchdates2 }
            readData()
        })

        $('#saveDetails').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const barcode = $('#barcode').val()
            const qty = $('#qty').val()
            const harga_jual = $('#harga_jual').val()
            const total_harga_detail = $('#total_harga_detail').val()
            saveData(no_invoice, barcode, qty, harga_jual, total_harga_detail)

        })

        $('#savepenjualan').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const total_harga = $('#total_harga').val()
            const total_bayar = $('#total_bayar').val()
            const kembalian = $('#kembalian').val()
            saveJual(no_invoice, total_harga, total_bayar, kembalian)
        })

        $('table tbody').on('click', '.link', function (event) {
            event.preventDefault()
            params = { ...params, noInvoice: $(this).attr('datapage') }
            readData()
        })

        $('table tbody').on('click', '.btn-icon-text', function (event) {
            event.preventDefault()
            alert('Anda mencoba melakukan manipulasi data, silahkan menghadap ke boss anda!')
            readData()
        })

        $('#penjualan').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const id = $(this).attr('id_data')
            deleteData(id)
        })

        $('#detail_penjualan').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const id = $(this).attr('id_detal')
            deleteDetails(id)
        })

        $('#jual_detail').on('click', '.btn-icon-delete', function (event) {
            event.preventDefault()
            const detail_id = $(this).attr('detail_data')
            deleteDetails(detail_id)
        })

        $('#reset-form-detail').click(function (event) {
            event.preventDefault()
            $("#form-detail").trigger("reset");
        })

        $('#reset-form-search').click(function (event) {
            event.preventDefault()
            params = {}
            $("#form-search").trigger("reset");
            readData()
        })

        $('#generateinvoice').click(function (event) {
            event.preventDefault()
            saveInvoice()
        })

        $('#barcode').on('blur', function (event) {
            event.preventDefault()
            varianValue(this.value);
        });



    })
</script>


</html>