<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Soppeng Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../public/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../public/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../public/assets/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../public/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../public/assets/images/favicon.png" />
</head>

<body>
    <!-- form -->
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Variasi Barang</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="id_varian">ID Varian</label>
                        <input type="text" class="form-control" id="id_varian" placeholder="id_varian">
                    </div>
                    <div class="form-group">
                        <label for="nama_varian">Nama Varian</label>
                        <input type="text" class="form-control" id="nama_varian" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="nama_varian">Harga Varian</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">Rp</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount">
                          <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                      </div>
                    <div class="form-group">
                        <label for="stok_varian">Stok Varian</label>
                        <input type="number" class="form-control" id="stok_varian" placeholder="Stok Varian">
                    </div>
                    <div class="form-group">
                        <label>Gambar Varian</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled
                                placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_gudang">ID Gudang</label>
                        <select class="form-control" id="id_gudang">
                            <option>G001</option>
                            <option>G002</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_barang">ID Barang</label>
                        <select class="form-control" id="id_barang">
                            <option>B001</option>
                            <option>B002</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_satuan">ID Satuan</label>
                        <select class="form-control" id="id_satuan">
                            <option>SA001</option>
                            <option>SA002</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Daftar Varian</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Gambar Varian</th>
                            <th> ID Varian </th>
                            <th> Nama Varian</th>
                            <th> Harga Varian</th>
                            <th> Stok Varian</th>
                            <th> ID Gudang</th>
                            <th> ID Barang</th>
                            <th> ID Satuan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td> V001</td>
                            <td> Nike Zero 01</td>
                            <td> 900.000</td>
                            <td> 50</td>
                            <th> G001</th>
                            <th> B001</th>
                            <th> SA01</th>
                            <td>
                                <button type="button" class="btn btn-success btn-sm btn-edit"
                                    iddata="#"><i>Edit</i></button>
                                <button type="button" class="btn btn-danger btn-sm btn-delete"
                                    iddata="#"><i>Delete</i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="../../public/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../public/assets/vendors/select2/select2.min.js"></script>
<script src="../../public/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../public/assets/js/off-canvas.js"></script>
<script src="../../public/assets/js/hoverable-collapse.js"></script>
<script src="../../public/assets/js/misc.js"></script>
<script src="../../public/assets/js/settings.js"></script>
<script src="../../public/assets/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../../public/assets/js/file-upload.js"></script>
<script src="../../public/assets/js/typeahead.js"></script>
<script src="../../public/assets/js/select2.js"></script>
<!-- End custom js for this page -->

</html>